body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.ui.card, .ui.cards>.card {
  box-shadow: none !important;
  background-color: hsl(0, 0%, 18%);
}
.ui.card>.content>.header, .ui.cards>.card>.content>.header {
  color: #fff  !important;
}

.ui.card>.content>.description, .ui.cards>.card>.content>.description {
  color: #fff  !important;
  font-size: .9rem;
}

.ui.input>input, .ui.input>input:focus {
  background-color: hsl(0, 0%, 18%);
  color: #fff;
}

.ui.segment {
  background-color:rgb(33, 33, 33);
  box-shadow: none;
  border: 0;
}

.ui.form input:not([type]), .ui.form input[type=date], .ui.form input[type=datetime-local], .ui.form input[type=email], .ui.form input[type=file], .ui.form input[type=number], .ui.form input[type=password], .ui.form input[type=search], .ui.form input[type=tel], .ui.form input[type=text], .ui.form input[type=time], .ui.form input[type=url], .ui.form input[type=password]:focus, .ui.form input[type=text]:focus {
  background-color: hsl(0, 0%, 18%);
  color: #fff;
}

.ui.icon.input>i.icon {
  color: #fff;
}

.ui.text.container {
  margin-bottom: 36px;
}

.ui.header+p {
  color: #fff;
}

.ui.button, .ui.selection.dropdown, .ui.dropdown .menu {
  background: hsl(0, 0%, 18%);
  color: #fff;
}

.ui.progress {
  background: hsl(0, 0%, 18%);
}
.ui.selection.visible.dropdown>.text:not(.default), .ui.dropdown .menu .selected.item, .ui.dropdown.selected, .ui.dropdown .menu>.item, .ui.dropdown .menu>.item:hover {
  color: #fff;
}

.ui.card {
  cursor: pointer;
}

.ui.card .meta, .ui.cards>.card .meta {
  color: #fff;
}

.ui.card.active {
  background-color: #00b5ad !important;
}

.ui.statistic>.value, .ui.statistics .statistic>.value {
  color: #fff;
}

.ui.statistic>.label, .ui.statistics .statistic>.label {
  color: #fff;
}

.ui.grid {
  margin-top: 0;
  margin-bottom: 0;
}

.ui.table thead th {
  color: #fff;
}

.ui.form .field {
  color: #fff;
}

.navbar {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 16px;
  z-index: 100;
  background-color: hsl(0, 0%, 18%);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 6px 2px;
}

.navbar > img {
  height: 32px;
}

.ui.cards a.card:hover, .ui.link.card:hover, .ui.link.cards .card:hover, a.ui.card:hover {
  background-color: #cacbcd;
  transform: none;
}

.main-container {
  height: 100vh;
  background-color: #212121;
  overflow: hidden;
}

.main-container-b {
  height: 100vh;
  background-color: #212121;
  overflow: hidden;
  padding-top: 68px !important;
}

.content-container-a {
  padding: 24px 64px !important;
  overflow-y: auto;
  overflow-x: hidden;
  height: 100vh;
}

.content-container-b {
  padding: 24px 64px !important;
}

.content-container-c {
  padding: 24px 24px 68px 24px !important;
  overflow: auto; 
  height: 100vh;
}

.statistic-container {
  margin-top: 48px !important;
}

.progress-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
    color: #fff;
}

p {
  color: #fff;
}

@media only screen and (max-width: 768px) and (min-width: 320px) {
  .main-container {
    height: 100vh;
  }
  .main-container-b {
    background-color: #212121;
    overflow: auto;
  }
  .statistic-container {
    display: none !important;
  }
  .content-container-a {
    display: none !important;
  }
  .content-container-a, .content-container-b, .content-container-c {
    padding: 24px !important;
    height: auto;
  }
}

.disable {
  cursor: not-allowed !important;
}

.text-center {
  text-align: center;
}

.ui.message .header+p {
  color: #9f3a38 !important; 
}

.error.field .ui.icon.input>i.icon:not(.link) {
  color: #9f3a38 !important; 
}

.switch-group {
  margin-bottom: 16px;
}

.switch-group > .checkbox {
  margin-right: 32px;

}

.ui.toggle.checkbox .box, .ui.toggle.checkbox label {
  color: #fff;
}

.ui.toggle.checkbox .box:before, .ui.toggle.checkbox label:before {
  background-color: hsl(0, 0%, 18%);
}

.ui.toggle.checkbox input:focus~.box:before, .ui.toggle.checkbox input:focus~label:before {
  background-color: hsl(0, 0%, 18%);
}

.ui.checkbox input:focus~label {
  color: #fff !important;
}

.ui.toggle.checkbox input:focus:checked~.box:before, .ui.toggle.checkbox input:focus:checked~label:before {
  background-color: #00b5ad !important;
}

.ui.toggle.checkbox input:focus:checked~.box, .ui.toggle.checkbox input:focus:checked~label {
  color: #fff !important; 
}

.ui.toggle.checkbox input:checked~.box:before, .ui.toggle.checkbox input:checked~label:before {
  background-color: #00b5ad !important;
}

.ui.toggle.checkbox input:checked~.box, .ui.toggle.checkbox input:checked~label {
  color: #fff !important;
}

.graph_tooltip {
  padding: 4px;
  background-color: #212121;
  color: #fff;
  border: 1px solid #212121 !important;
}

.divider-container-desktop {
  width: fit-content;
}

.divider-container-mobile {
  display: none;
}

.divider-container-mobile .input {
  width: 100%;
}

.ui.divider {
  color: #fff;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.ui.form input:not([type]):focus, .ui.form input[type=date]:focus, .ui.form input[type=datetime-local]:focus, .ui.form input[type=email]:focus, .ui.form input[type=file]:focus, .ui.form input[type=number]:focus, .ui.form input[type=password]:focus, .ui.form input[type=search]:focus, .ui.form input[type=tel]:focus, .ui.form input[type=text]:focus, .ui.form input[type=time]:focus, .ui.form input[type=url]:focus {
  background-color: hsl(0, 0%, 18%);
  color: #fff; 
}

.error .ui.input>input {
  background: #fff6f6;
  border-color: #e0b4b4;
  color: #9f3a38;
}

.error .ui.pointing.below.prompt.label {
  white-space: normal;
background: #fff!important;
border: 1px solid #e0b4b4!important;
color: #9f3a38!important;
}

.progress-container {
  display: flex;
}

.progress-item  {
  flex: 1;
}

.progress-item--negative {
  transform: scaleX(-1);
}

.progress-item > .ui.progress, .progress-item > .ui.progress > .bar {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}


.ui.progress .bar, .ui.active.progress .bar {
  min-width: 0;
}


@media only screen and (max-width: 768px) and (min-width: 320px) {
  .bot-info-float {
    position: fixed;
    top: 68px;
    left: 0;
    width: 100%;
    background-color: #212121;
    z-index: 10;
    padding: 20px 40px 0 40px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 6px 2px;
  }
  .content-container-c-float-a {
    margin-top: 154px !important;
  }
  .content-container-c-float-b {
    margin-top: 220px !important;
  }
  .divider-container-mobile {
    display: block;
  }
  .divider-container-desktop {
    display: none;
  }
}

.wallet-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: 8px;
}