body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.ui.card, .ui.cards>.card {
  box-shadow: none !important;
  background-color: hsl(0, 0%, 18%);
}
.ui.card>.content>.header, .ui.cards>.card>.content>.header {
  color: #fff  !important;
}

.ui.card>.content>.description, .ui.cards>.card>.content>.description {
  color: #fff  !important;
  font-size: .9rem;
}

.ui.input>input, .ui.input>input:focus {
  background-color: hsl(0, 0%, 18%);
  color: #fff;
}

.ui.segment {
  background-color:rgb(33, 33, 33);
  box-shadow: none;
  border: 0;
}

.ui.form input:not([type]), .ui.form input[type=date], .ui.form input[type=datetime-local], .ui.form input[type=email], .ui.form input[type=file], .ui.form input[type=number], .ui.form input[type=password], .ui.form input[type=search], .ui.form input[type=tel], .ui.form input[type=text], .ui.form input[type=time], .ui.form input[type=url], .ui.form input[type=password]:focus, .ui.form input[type=text]:focus {
  background-color: hsl(0, 0%, 18%);
  color: #fff;
}

.ui.icon.input>i.icon {
  color: #fff;
}

.ui.text.container {
  margin-bottom: 36px;
}

/* .ui.header+p {
  font-size: .95rem;
} */

.ui.button, .ui.selection.dropdown, .ui.dropdown .menu {
  background: hsl(0, 0%, 18%);
  color: #fff;
}

.ui.progress {
  background: hsl(0, 0%, 18%);
}
.ui.selection.visible.dropdown>.text:not(.default), .ui.dropdown .menu .selected.item, .ui.dropdown.selected, .ui.dropdown .menu>.item, .ui.dropdown .menu>.item:hover {
  color: #fff;
}

.ui.card {
  cursor: pointer;
}

.ui.card .meta, .ui.cards>.card .meta {
  color: #fff;
}

.ui.card.active {
  background-color: #00b5ad !important;
}

.ui.statistic>.value, .ui.statistics .statistic>.value {
  color: #fff;
}

.ui.statistic>.label, .ui.statistics .statistic>.label {
  color: #fff;
}

.ui.grid {
  margin-top: 0;
  margin-bottom: 0;
}

.ui.table thead th {
  color: #fff;
}

.ui.form .field {
  color: #fff;
}

.navbar {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 8px;
  z-index: 100;
}

.ui.cards a.card:hover, .ui.link.card:hover, .ui.link.cards .card:hover, a.ui.card:hover {
  background-color: #cacbcd;
  transform: none;
}